body {
  margin: 0;
}

@font-face {
  font-family: "Raleway-Extra";
  src: local("Raleway-Extra"),
    url(../fonts/Raleway/static/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"),
    url(../fonts/Raleway/static/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url(../fonts/Nunito/Nunito-SemiBold.ttf) format("truetype");
}
