
.tippy-box[data-theme~='ripple'] {
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: #78cfec;
    border-radius: 5px;
    padding: 20px;
}

.tippy-box[data-theme~='ripple'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #78cfec;
}
.tippy-box[data-theme~='ripple'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #78cfec;

}
.tippy-box[data-theme~='ripple'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #78cfec;

}
.tippy-box[data-theme~='ripple'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #78cfec;
}
