.waves {
  & > use {
    animation: move 20s infinite;
  }
  & > use:nth-child(1) {
    animation-delay: -1s;
    animation-duration: 7s;
  }
  & > use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 9s;
  }
  & > use:nth-child(3) {
    animation-delay: -3s;
    animation-duration: 12s;
  }
  & > use:nth-child(4) {
    animation-delay: -4s;
    animation-duration: 16s;
  }
}

@keyframes move {
  0% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(85px);
  }
}

@keyframes floatAnim {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatAnim2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
